doctype 5
html
  head
    title #{title}
    link(rel='stylesheet', href='/events/stylesheets/layout.css')
  body
    div#main_menu
      ul#main_menu_list
        li.imposs 
           span Activities
        li 
           span Add 
        li 
           span Progress
           
        li 
           span Forum
              
  block structure