extends layout

block content
  .today 
    h1=  title
    p Welcome to #{title}
    
    .blocker
      ul
        li
           a(href="#") hello
        li 
           a(href="#") world
           
      table
         tr
              th 
                span date  
              th 
                span type  
              th 
                span category  
              th 
                span weight 
              th 
                span rep goal
              th 
                span rep           
         tr
              td 
                span Tue, May 28 2013  
              td 
                span Weight Training  
              td 
                span pull down   
              td 
                span 80 LBS
              td 
                span 10
              td 
                span 10        
                
          tr
              td 
                span Tue, May 28 2013  
              td 
                span Weight Training  
              td 
                span pull down   
              td 
                span 80 LBS
              td 
                span 10
              td 
                span 10                